<div  class="loginheadiv">
    <div  class="loginheader">
        <div  class="headerleftsocial">
            <ul >
                <li ><a  href="javascript:void(0)"><i 
                            class="icon-facebook"></i></a></li>
                <li ><a  href="javascript:void(0)"><i 
                            class="icon-twitter"></i></a></li>
                <li ><a  href="javascript:void(0)"><i 
                            class="icon-instagram-sketched"></i></a></li>
            </ul>
        </div>
    </div>
    <div  class="loginwrapperbody">
        <div  class="loginbodyleft">
            <div  class="leftcontplace">
                <div  class="placeholderdiv"><img 
                        src="assets/images/loginimage.png" alt=""></div>
                <h3 >Lorem Ipsum is simply dummy text</h3>
                <p >It is a long established fact that a reader will be distracted by the readable
                    content of a page when looking at its layout.</p>
            </div>
        </div>
        <div  class="loginbodyright">
            <div  class="logincontbox">
                <div  class="logoplacehold"><img 
                        src="assets/images/login-logo.png" alt=""></div>
                <h4 >Welcome Back <span >Sign In to your Account</span></h4>
                <form [formGroup]="customerLoginForm">
                    <div >
                        <mat-form-field 
                            class="mat-form-field  mat-primary mat-form-field-type-mat-input mat-form-field-appearance-outline mat-form-field-can-float mat-form-field-has-label ">
                            <div >
                                <div class="mat-form-field-flex ">
                                    <div class="mat-form-field-outline  ng-star-inserted">
                                        <div class="mat-form-field-outline-start " style="width: 5.5px;">
                                        </div>
                                        <div class="mat-form-field-outline-gap " style="width: 35.5px;">
                                        </div>
                                        <div class="mat-form-field-outline-end "></div>
                                    </div>
                                    <div
                                        class="mat-form-field-outline mat-form-field-outline-thick  ng-star-inserted">
                                        <div class="mat-form-field-outline-start " style="width: 5.5px;">
                                        </div>
                                        <div class="mat-form-field-outline-gap " style="width: 35.5px;">
                                        </div>
                                        <div class="mat-form-field-outline-end "></div>
                                    </div>
                                    <!---->
                                    <!---->
                                    <!---->
                                    <div class="mat-form-field-infix "><input 
                                            matInput="" type="text" placeholder="Email" formControlName="email"
                                            class="mat-input-element mat-form-field-autofill-control  cdk-text-field-autofill-monitored"
                                            id="mat-input-0" aria-invalid="false" aria-required="false"><span
                                            class="mat-form-field-label-wrapper "><label
                                                class="mat-form-field-label  mat-empty mat-form-field-empty ng-star-inserted"
                                                id="mat-form-field-label-1" for="mat-input-0" aria-owns="mat-input-0">
                                                <!---->
                                                <mat-label  class=" ng-star-inserted">
                                                    Email</mat-label>
                                                <!---->
                                                <!---->
                                            </label>
                                            <!---->
                                        </span></div>
                                    <!---->
                                </div>
                                <!---->
                                <div class="mat-form-field-subscript-wrapper ">
                                    <!---->
                                    <div class="mat-form-field-hint-wrapper  ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                        style="opacity: 1; transform: translateY(0%);">
                                        <!---->
                                        <div class="mat-form-field-hint-spacer "></div>
                                    </div>
                                    <!---->
                                </div>
                            </div>
                        </mat-form-field>
                        <!---->
                        <!---->
                    </div>
                    <div >
                        <mat-form-field 
                            class="mat-form-field  mat-primary mat-form-field-type-mat-input mat-form-field-appearance-outline mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-untouched ng-pristine ng-invalid">
                            <div >
                                <div class="mat-form-field-flex ">
                                    <div class="mat-form-field-outline  ng-star-inserted">
                                        <div class="mat-form-field-outline-start " style="width: 5.5px;">
                                        </div>
                                        <div class="mat-form-field-outline-gap " style="width: 56.5px;">
                                        </div>
                                        <div class="mat-form-field-outline-end "></div>
                                    </div>
                                    <!-- <div
                                        class="mat-form-field-outline mat-form-field-outline-thick  ng-star-inserted">
                                        <div class="mat-form-field-outline-start " style="width: 5.5px;">
                                        </div>
                                        <div class="mat-form-field-outline-gap " style="width: 56.5px;">
                                        </div>
                                        <div class="mat-form-field-outline-end "></div>
                                    </div> -->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <div class="mat-form-field-infix "><input 
                                            type="password" matInput="" formControlName="password"
                                            placeholder="Password"
                                            class="mat-input-element mat-form-field-autofill-control  cdk-text-field-autofill-monitored ng-untouched ng-pristine ng-invalid"
                                            id="mat-input-1" aria-invalid="false" aria-required="false"><span
                                            class="mat-form-field-label-wrapper "><label
                                                class="mat-form-field-label  mat-empty mat-form-field-empty ng-star-inserted"
                                                id="mat-form-field-label-3" for="mat-input-1" aria-owns="mat-input-1">
                                                <!---->
                                                <mat-label  class=" ng-star-inserted">
                                                    Password</mat-label>
                                                <!---->
                                                <!---->
                                            </label>
                                            <!---->
                                        </span></div>
                                    <!---->
                                </div>
                                <!---->
                                <div class="mat-form-field-subscript-wrapper ">
                                    <!---->
                                    <div class="mat-form-field-hint-wrapper  ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                        style="opacity: 1; transform: translateY(0%);">
                                        <!---->
                                        <div class="mat-form-field-hint-spacer "></div>
                                    </div>
                                    <!---->
                                </div>
                            </div>
                        </mat-form-field>
                        <!---->
                    </div>
                    <div ><button  mat-button=""
                            class="btnsave mat-button mat-button-base"><span class="mat-button-wrapper" (click)="saveForm()">Log in</span>
                            <div matripple="" class="mat-ripple mat-button-ripple"></div>
                            <div class="mat-button-focus-overlay"></div>
                        </button></div>
                </form>
                <div  class="forgotpassect"><a  href="/signup"
                        class="forgotpasslink">Don't have account?Signup</a></div>
            </div>
            <!---->
        </div>
    </div>
    <footer  class="footer">
        <p >Copyright © 2020 - <a  href="javascript:void(0)">Demo</a>. All
            Right Reserved.</p>
    </footer>
</div>